<div class="login-container">
    <div class="form-container">
      <h2>Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <input type="email" placeholder="Email" formControlName="email" />
        <input type="password" placeholder="Password" formControlName="password" />
        <button type="submit" [disabled]="!loginForm.valid">Login</button>
      </form>
      <div class="register-link">
        Don't have an account? <a routerLink="/auth/register">Register</a>
      </div>
    </div>
  </div>
  